.background {
    height: 100vh;
    background-image: url(../../common/img/beLikeBackground.jpg);
}

.loginForm {
    // height: 65vh;
    width: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}